.modal-mask
        position fixed
        z-index 9998
        top 0
        left 0
        width 100%
        height 100%
        background-color rgba(0, 0, 0, .6)
        display table
        transition opacity .3s ease

    .modal-wrapper
        display table-cell
        vertical-align middle

    .modal-container-info
        width 65%
        margin 0 auto
        padding 20px 30px
        background-color #fff
        border-radius 2px
        box-shadow 0 2px 8px rgba(0, 0, 0, .33)
        transition all .3s ease

    .modal-content
        padding 10px
        border:0
        color #000
        -webkit-border-radius 10px
        -moz-border-radius 10px

    .modal-footer
        margin-top 10px
        
    .modal-enter .modal-container-ino, /* al abrirse */
    .modal-leave-active .modal-container-info /* al cerrarse */
        -webkit-transform scale(1.4)
        transform scale(1.4)

    .v-notices 
        z-index: 10000;
